<div>
    <div class="row">
        <div class="jumbotron text-center">
            <h1 class="display-4 ">Headline with hard hitting stats about women's health</h1>
            <p class="lead">Do you know your risk?</p>
            <button class="btn btn-primary">Click to learn more</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <h4 class="text-center">Do you have a question about heart disease, risk factors,</h4> <h4>treatments, or anything else related to heart health?</h4>
        <p class="mb-0">Our team of healthcare professionals at the Karen Yontz Center are available to provide information, answer</p>
        <p class="mt-0">questions and offer guidance on nutrition, fitness and other healthy lifestyle topics.</p>
    </div>
    <div class="row justify-content-md-center">
        <button class="btn btn-light btn-lg">Contact Us</button>
    </div>
    
    <div class="row mt-5">
     
        <ul class="list-unstyled col-md-6">
            <li class="media">
                <img class="mr-3" src="http://placehold.it/250x150" />
                <div class="media-body">
                    <h4>Risk Factors Quiz</h4>
                    <h6><em>Know your risks</em></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                </div>
            </li>
        
            <li class="media mt-5">
                <img class="mr-3" src="http://placehold.it/250x150" />
                <div class="media-body">
          
                    <h4>Featured Article Title</h4>
                    <h6><em>Smoking</em></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                </div>
            </li>  
        </ul>
        <ul class="list-unstyled col-md-6">
            <li class="media">
                <img class="mr-3" src="http://placehold.it/250x150" />
                <div class="media-body">
               
                    <h4>Healthy Heart Recipies</h4>
                    <h6><em>Nutrition</em></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                </div>
            </li>
            <li class="media mt-5">
                <img class="mr-3" src="http://placehold.it/250x150" />
                <div class="media-body">
              
                    <h4>Cholesterol Section Link</h4>
                    <h6><em>Resources</em></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                </div>
            </li>
        </ul>
       
    </div>

    <div class="row mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4 ">Karen Yontz Center Services</h1>
            <p class="lead">A description of some of the services that the center offers, consectetur adipiscing elit. Proin et ante ut lacus porttitor varius. Vivamus eu sapien ut nunc viverra sollicitudin ac rhoncus odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <button class="btn btn-primary">Click to learn more</button>
        </div>
    </div>
    <div class="row background bg-secondary">
        <div class="col-md-1"></div>
        <div class="col-md-8 mt-2 mb-2">
            <h3> Stay informed about women's cardiac health</h3>
            <h5>Our monthly newsletter includes heart health tips, articles, recipes, and more.</h5>
        </div>
        <div class="col">
            <button class="btn btn-dark btn-lg mt-3 ml-3">Sign Up</button>
        </div>
    </div>
    <hr/>
    <div class="row">
        
    </div>
</div>